.navbar{
  height: 100%;
  width: 100%;
  background: #303434;
}

.option{
  background: #303434 ;
  border-color: lightslategrey;
  margin-left: 2%;
  margin-right: 2%;
}

.activeLink {
  background-color: #F1BB10; /* Cambia el color de fondo según tu preferencia */
  color: yellow; /* Cambia el color del texto según tu preferencia */
  /* Otros estilos para el botón activo */
}


