.login-card {
  position: absolute;
  top: 1rem;
  left: 25rem;

  height: 39rem;
  width: 35rem;
  padding: 2rem 4rem;

  border-radius: 15px;

  background-color: white;

  display: flex;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  border: 1px solid gray;
}

.login-card * {
  display: block;
  font-size: 0.7rem;
}

.login-card button, input, select {
  width: 18rem;
  border-radius: 10px;
}

.login-card label, span {
  color: black;
  text-indent: 0.8rem;
  font-weight: bold;
}


.login-btn {
  background-color: black;
  height: 2.5rem;
  color: white;
  border: none;
  margin-left: 0.5rem;
  margin-top: 1.5rem;

}

.login-btn-white {
  background-color: white;
  height: 2.5rem;
  color: black;
  border: none;
  margin-left: 0.5rem;
  border: 1px solid black;
  margin-top: 0.5rem;
}

.form-field input, select {
  height: 2rem;
  background-color: white;
  border: 1px solid darkgray;
  color: black;
  text-indent: 0.6rem;
  margin-left: 0.5rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.error-msg-invalid {
  position: relative;
  bottom: 1rem;
  font-weight: normal;
  color: red;
}